<section class='container-fluid bg-light'>
  <h2 class="px-4 py-3">
    Lista de Turmas
  </h2>
  <div class="container">
    <div class="row">
      <div class="col">
        <table class="table table-striped table-condensed">
          <thead class="thead-dark text-nowrap">
            <tr>
              <th scope="col">Curso</th>
              <th scope="col">Instrutor</th>
              <th scope="col">Sala</th>
              <th scope="col">Turno</th>
              <th scope="col">Sit.</th>
              <th scope="col">Início</th>
              <th scope="col">Final</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let event of events" (click)="onSelect(event)" [class.selected]="event === selectedEvent">
              <td>{{event.curso | camelcase}}</td>
              <td>{{event.instrutor | camelcase}}</td>
              <td>{{event.sala}}</td>
              <td>{{event.turno | camelcase}}</td>
              <td>{{event.situacao}}</td>
              <td>{{event.dataInicial | date:"dd/MM/yy"}}</td>
              <td>{{event.dataFinal | date:"dd/MM/yy"}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>