<table class="table table-hover table-bordered my-2 calendar-grid">
  <thead>
    <tr>
      <th style="border: none;"></th>
      <th scope="col" *ngFor="let i of [1,2,3,4,5,6]" id="d{{i}}-t{{turno}}">
        {{app.diasSemana[i]}}<br>
        <small>{{app.weekDates[i] | date:"dd/MM/yy"}}</small>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let sala of salas">
      <th scope="row">{{sala.name}}</th>
      <td *ngFor="let i of [1,2,3,4,5,6]" id="d{{i}}-l{{sala.slug}}-t{{turno}}">
        {{checkCell(i,sala.name,turno)}}
      </td>
    </tr>
  </tbody>
</table>